<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id = "newTaskInput" >
    <input ng-model="tc.newTask.taskName" placeholder="Add a new task">
    <button ng-click="tc.addTask()" id="submit">SUBMIT</button>
  </div>
  <div id = "tableDiv">
    <table align="center">
      <tr>
      <th>Task To Do</th>
      <th>Complete</th>
      <th>Delete</th>
    </tr>
    <tr ng-repeat="task in tc.taskList" ng-class="{complete: task.status, active: !task.status}">

      <td>{{task.name}}</td>
      <td><button ng-click="tc.deleteTask(task.id)" type="button" name="button">Remove</button></td>
      <td><button ng-click="tc.completeTask(task.id)" ng-hide="task.status" type="button" name="button">Complete</button></td>
    </tr>
  </div>
  </body>
</html>
